.courseDetail {
    padding: 0;
    margin-top: 60px;
    max-width: 100%;
    position: relative;
}

.contentContainer {
    display: flex;
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    align-items: flex-start;
    /* Alinha os itens no topo */
}

.videoContainer {
    width: 60%;
    /* Ajuste a largura conforme necessário */
    margin: 0 20px 0 0;
    /* Margem à direita para espaçamento */
}

.videoContainer iframe {
    margin-left: 10px;
    width: 1180px;

    /* Ajusta para 100% para ser responsivo */
    border-radius: 15px;
    height: 700px;
    /* Ajuste a altura se necessário */
}

.infoContainer {
    position: relative;
    width: 30%;
    /* Ajuste a largura conforme necessário */
    height: auto;
    /* Permitir que a altura ajuste automaticamente */
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
    border: 1px solid #dee2e6;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 52px;
    margin-left: 190px;
    margin-right: 10px;
    /* Remova a margem superior para alinhamento adequado */
}

.progressPanel {
    margin-top: 20px;
    width: 100%;
    /* Garante que ocupa toda a largura disponível */
}

.progressLabel {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.checklist {
    margin: 20px 0;
}

.lessonItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.courseTitle {
    margin: 90px 0 15px 0;
    text-align: center;
    font-size: 34px;
    color: hsl(0, 0%, 100%);
}

.separator {
    border: none;
    border-top: 2px solid #d9d9d9;
    margin: 0px 0 20px 0;
    width: 100%;
}

.durationBox {
    background-color: #e9ecef;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: bold;
}

.resetButton {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #28a745;
    border-color: #28a745;
    color: rgb(253, 253, 253);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.resetButton:hover {
    background-color: #28a745;
}

.checklistSeparator {
    border: none;
    border-top: 2px solid #d9d9d9;
    margin: 10px 0;
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    margin-top: 40px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 160px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.textContainer p {
    font-size: 25px;
    text-align: justify;
    line-height: 1.7;
    color: #333;
}

.completeButton {
    display: block;
    margin: 120px auto 0;
    padding: 10px 40px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

.completeButton:hover {
    background-color: #218838;
}

.title {
    font-size: 36px;
    text-align: center;
    padding: 30px;
    color: #333;
    margin-bottom: 0px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    margin: 0;
    padding: 30px;
}

.image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.lessonTitle {
    text-align: left;
    font-size: 32px;
    margin: 0px 0px 15px 70px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
    /* Remove underline e mantém a cor padrão */
}

a:hover {
    color: #28a745;
    ;
    /* Garante que o hover não altere a cor */
}