.courseCard {
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(30% - 40px);
    /* Mantém a largura padrão para 3 cards */
    min-width: 350px;
    /* Largura mínima dos cards */
    min-height: 450px;
    /* Altura mínima dos cards */
    padding: 20px;
    border: 1px solid #a5aebc;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    transition: transform 0.2s;
}

.courseImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 16px;
}

.courseCard:hover {
    transform: translateY(-5px);
    /* Efeito de hover para elevar o card */
}


.courseContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* Permite que o conteúdo ocupe o espaço restante */
}

.courseTitle {
    margin: 4px 0;
    font-size: 20px;
    color: #0f1a2a;
    text-align: justify;
}

.courseDescription {
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
    color: #64748b;
}

.startButton {
    align-self: stretch;
    border-radius: 10px;

    background-color: #98da82;
    color: #0f1a2a;
    font-weight: bold;

    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s;
}

.startButton:hover {
    border: 1px solid #0f1a2a;

}