.homePage {
    padding-top: 70px;

     /* Garante que a imagem cubra todo o botão */

    /* Adicionado para dar espaço ao header fixo */
}

.courseTitle {
    margin: 20px 0 15px 0;
    text-align: center;
    font-size: 34px;
    color: #1e2a3b;

    /* Cor branca */
}

.separator {
    border: none;
    /*border-top: 1px solid #d9d9d9;*/
    margin: 0 0 51.4995px;
    /* Ajuste conforme necessário */
    width: 100%;
}

body {

    background-color: #f6f8fc;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 490px) {
    .courseTitle {
        margin: 20px 0 15px 0;
        text-align: center;
        font-size: 24px;
        color: #1e2a3b;

        /* Cor branca */
    }

    .separator {
        border: none;
        border-top: 1px solid #ffffff;
        margin: 0 0 51.4995px;
        /* Ajuste conforme necessário */
        width: 100%;
        margin-top: -3px;
    }
}