.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
    background-color: #f6f8fc;
    /* Cor de fundo */
}



.loginBox {
    background-color: rgba(255, 255, 255, 1);
    padding: 0px 30px;
    border-radius: 11px;
    /* Bordas mais arredondadas */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/maxbackground.png');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center center; /* Centraliza a imagem no fundo */
    max-width:370px;
    margin-top:-140px;
    width: 100%;
    border: 1px solid #a5aebc;
    height: 380px;
    /* Altura mínima */
    transition: transform 0.2s ease;
    /* Transição suave para o efeito lateral */
}

.loginBox:hover {
    transform: translateX(2px);
    /* Move ligeiramente para a direita ao passar o mouse */
}

.mainTitle {
    font-size: 34px;
    margin-bottom: 120px;
    margin-top: 16px;
    color: #0f1a2a;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    text-align: center;
    
}

.logoImage {
    
    width: 90px;
    /* Tamanho da imagem */
    height: auto;
    margin-bottom: 20px;
    
  

}

.subTitle {
    
    font-size: 29px;
    margin-bottom: 40px;
    display:none;
    color: #27364b;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
}

.loginText {
    font-size: 12.4px;
    margin-bottom: 10px;
    width: 100%;
 
    color: #27364b;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.googleButton {
    background: linear-gradient(90deg, #4285F4, #357ae8);
    /* Gradiente */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    transition: transform 0.2s ease;
    /* Transição suave para o botão */
}

.googleButton:hover {
    transform: translateX(2px);
    /* Move ligeiramente para a direita ao passar o mouse */
    background: linear-gradient(90deg, #357ae8, #4285F4);
    /* Muda o fundo no hover */
}

.googleLogo {
    margin-right: 10px;
}

@media (max-height: 900px) {

    .loginBox {

        margin-top:0px;
        margin-bottom:0px;

    }
}

@media (max-width: 500px) {

    .loginBox {

        width: 90%;

    }
}