.quizPage {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageTitle {
    color: #fff;
    font-size: 2rem;
    text-align: center;

    margin-top: 92.5px;
    margin-bottom: 15px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.pageTitle2 {

    color: #000000;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 5px;
    display: none;
}

.separator {
    width: 100%;
    border: none;
    /*border-top: 1px solid white;*/
    margin: 0 0 2rem;
    margin-bottom: 52px;
    margin-top: -1px;
}

.quizContainer {
    background-color: white;
    width: 90%;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    flex-grow: 1;
    margin-top: 0px;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr;
    /* 1 card por linha por padrão */
    gap: 1.5rem;
    /* Espaçamento entre os cards */
}


@media (max-width: 500px) {

    .pageTitle {
        color: #fff;
        font-size: 24px;
        text-align: center;

        margin-top: 91px;
        margin-bottom: 12px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
}


/* Media Queries para responsividade */
@media (max-width: 870px) {
    .cardContainer {
        grid-template-columns: 1fr;
        /* Mantém 1 card por linha em telas pequenas */
    }



    .pageTitle2 {
        color: #000000;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 5px;
        display: none;
    }

    .separator {
        width: 100%;
        border: none;
        border-top: 1px solid #fff;
        margin: 0 0 2rem;
        margin-top: -1px;
        margin-bottom: 52px;
    }
}