.editFormPage {
    margin-top: 91px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.titleContainer {
    text-align: center;
    background-color: transparent;
}

.newTitle {
    color: #1e2a3b;
    font-size: 36px;
    margin-bottom: 11px;

}

.separator {
    width: 100%;
    border: none;
    /*border-top: 1px solid white;*/
    margin: 0;
    margin-bottom: 50px;
}

.editForm {
    background-color: #ffffff;
    width: 90%;
    max-width: 1000px;
    padding: 40px 60px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 2px;
    
    text-align: center;
    border: 1px solid #a5aebc;
    flex-grow: 1;
}

.formGroup {
    
    margin-bottom: 25px;
}

.label {
    color: #27364b;
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    text-align: left;
}

.userCurrentPhoto {
    margin-top: 50px;
    max-width: 400px;
    /* Limitar a largura máxima */
    max-height: 400px;
    /* Limitar a altura máxima */
    width: auto;
    /* Largura automática para manter a proporção */
    height: auto;
    /* Altura automática para manter a proporção */
    object-fit: cover;
    /* Para cobrir o espaço sem distorcer a imagem */
}

/* Media Query para telas menores */
@media (max-width: 600px) {
    .userCurrentPhoto {
        max-width: 350px;
        /* Limitar a largura máxima para telas pequenas */
        width: 100%;
        /* A largura se ajusta a 100% do contêiner */
        height: auto;
        /* Manter a proporção da imagem */
    }

    .newTitle {
        color: #1e2a3b;
        font-size: 36px;
        margin-bottom: 11px;

    }
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #27364b;
    font-size: 16px;
}

.submitButton {
    background-color: #98da82;
    color: #27364b;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
}

.submitButton:hover {
    border: 1px solid #0f1a2a;
}

@media (max-width: 500px) {


    .newTitle {

        font-size: 24px;

    }
}